![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [1]:
# We've loaded your first package for you! You can add as many cells as you need.
import numpy as np
import pandas as pd

airbnb_price = pd.read_csv('data/airbnb_price.csv')
airbnb_room_type = pd.read_excel('data/airbnb_room_type.xlsx')
airbnb_last_review = pd.read_csv('data/airbnb_last_review.tsv', sep='\t')

Since three dataframes have the same column 'listing_id', can merge together for efficient analysis

In [2]:
merged_df = pd.merge(airbnb_price, airbnb_room_type, on = 'listing_id')
merged_df_1 = pd.merge(merged_df, airbnb_last_review, on ='listing_id')

In [3]:
#view the columns of merged_df_1 after you've merged your DataFrames
print(merged_df_1.columns)

Index(['listing_id', 'price', 'nbhood_full', 'description', 'room_type',
       'host_name', 'last_review'],
      dtype='object')

In [4]:
merged_df_1['last_review'].head()

0     May 21 2019
1    July 05 2019
2    June 22 2019
3    June 24 2019
4    June 09 2019
Name: last_review, dtype: object

What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.

In [5]:
# Ensure the last_review column is in datetime format and compare as above before change
merged_df_1['last_review'] = pd.to_datetime(merged_df_1['last_review'])
merged_df_1['last_review'].head()

0   2019-05-21
1   2019-07-05
2   2019-06-22
3   2019-06-24
4   2019-06-09
Name: last_review, dtype: datetime64[ns]

In [6]:
first_reviewed = merged_df_1['last_review'].min()
last_reviewed = merged_df_1['last_review'].max()
print(first_reviewed)
print(last_reviewed)

2019-01-01 00:00:00
2019-07-09 00:00:00

How many of the listings are private rooms? Save this into any variable.
notice that the capitalization consistent is different

In [7]:
#.str can only be used on a pandas Series containing strings. since the capitalization is different, need to handle all to lower first
merged_df_1['room_type'] = merged_df_1['room_type'].str.lower()
nb_private_rooms = (merged_df_1['room_type'] == 'private room').sum()
print(f"Number of private rooms count: {nb_private_rooms}")

Number of private rooms count: 11356

What is the average listing price? Round to the nearest penny and save into a variable.

In [8]:
#as below can see that the column is not numeric, it contain the string, so 
#need to removed the string and convert it into the numeric that pandas can calculate
merged_df_1['price'].head()

0    225 dollars
1     89 dollars
2    200 dollars
3     79 dollars
4    150 dollars
Name: price, dtype: object

In [9]:
#make sure the output is become to 'int64'
merged_df_1['price'] = pd.to_numeric(merged_df_1['price'].str.replace('dollars', ''))
print(merged_df_1['price'])

0        225
1         89
2        200
3         79
4        150
        ...
25204    129
25205     45
25206    235
25207    100
25208     30
Name: price, Length: 25209, dtype: int64

In [10]:
avg_price = merged_df_1['price'].mean().round(2)
print(avg_price)

141.78

Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.

In [11]:
#make sure the value inside the []
[first_reviewed]

[Timestamp('2019-01-01 00:00:00')]

In [12]:
[avg_price]

[141.78]

In [13]:
# Create a dictionary with column names as keys and the above variables as values
data = {
    'first_reviewed':[first_reviewed],
    'last_reviewed':[last_reviewed],
    'nb_private_rooms':[nb_private_rooms],
    'avg_price':[avg_price]
}

In [14]:
review_dates = pd.DataFrame(data)
print(review_dates)

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78